@model List<emlaksitesi.Models.database.bize_ulasin>
@{
    ViewBag.Title = "Contact";
}



@foreach (var item in ViewBag.iletisim)
{
    <div class="hero page-inner overlay"
         style="background-image: url('/uploads/images/@item.arkaplan_resim')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">Bize Ulaşın</h1>

                    <nav aria-label="breadcrumb"
                         data-aos="fade-up"
                         data-aos-delay="200">
                        <ol class="breadcrumb text-center justify-content-center">
                            <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                            <li class="breadcrumb-item active text-white-50"
                                aria-current="page">
                                Bize Ulaşın
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0"
                     data-aos="fade-up"
                     data-aos-delay="100">
                    <div class="contact-info">
                        <div class="address mt-2">
                            <i class="icon-room"></i>
                            <h4 class="mb-2">@item.konum_baslik:</h4>
                            <p>
                                @item.konum_aciklama
                            </p>
                        </div>

                        <div class="open-hours mt-4">
                            <i class="icon-clock-o"></i>
                            <h4 class="mb-2">@item.saatBaslik:</h4>
                            <p>
                                Pazartesi-Cuma:<br />
                                @item.hizmet_saatleri
                            </p>
                        </div>

                        <div class="email mt-4">
                            <i class="icon-envelope"></i>
                            <h4 class="mb-2">@item.email_baslik:</h4>
                            <p>@item.email</p>
                        </div>

                        <div class="phone mt-4">
                            <i class="icon-phone"></i>
                            <h4 class="mb-2">@item.telefon_baslik:</h4>
                            <p>@item.telefon_numarasi</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                    <form action="/Home/Mesaj" method="post">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <input type="text"
                                       class="form-control"
                                       name="isim"
                                       placeholder="Ad Soyad" required />
                            </div>
                            <div class="col-6 mb-3">
                                <input type="email"
                                       class="form-control"
                                       name="email"
                                       placeholder="Email" required />
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text"
                                       class="form-control"
                                       name="konu"
                                       placeholder="Konu" required />
                            </div>
                            <div class="col-12 mb-3">
                                <textarea name="mesaj1"
                                          cols="30"
                                          rows="5"
                                          class="form-control"
                                          placeholder="Mesajınız"
                                          required></textarea>

                            </div>

                            <div class="col-12">
                                <input type="submit"
                                       value="Gönder"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
