@model emlaksitesi.Models.database.detay

@{
    ViewBag.Title = "Detay";
}


<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>




    <div class="hero page-inner overlay"
         style="background-image: url('/property-1.0.0/images/hero_bg_3.jpg')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">
                        Ev Detayı
                    </h1>

                    <nav aria-label="breadcrumb"
                         data-aos="fade-up"
                         data-aos-delay="200">
                        <ol class="breadcrumb text-center justify-content-center">
                            <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                            <li class="breadcrumb-item">
                                <a href="/Home/Properties">Emlak</a>
                            </li>
                            <li class="breadcrumb-item active text-white-50"
                                aria-current="page">
                                Detay
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7">
                    <div class="img-property-slide-wrap">
                        <div class="img-property-slide">
                            <img src="~/uploads/images/@Model.ev_resim1" alt="Image" class="img-fluid" style="width:800px;height:400px;" />
                            <img src="~/uploads/images/@Model.ev_resim2" alt="Image" class="img-fluid" style="width:800px;height:400px;"/>
                            <img src="~/uploads/images/@Model.ev_resim3" alt="Image" class="img-fluid" style="width:800px;height:400px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <h2 class="meta">@Model.slider.sehir, @Model.slider.ilce</h2>
                    <h3 class="heading text-primary">@Model.slider.adres</h3>
                    <p class="text-black-50">
                        @Model.aciklama
                    </p>


                    <div class="d-block agent-box p-5">
                        <div class="img mb-4">
                                <img src="~/uploads/images/@Model.ajans.profil_resim" />
                            </div>
                            <div class="text">
                                <h3 class="mb-0">@Model.ajans.ad_soyad</h3>
                                <div class="meta mb-3">@Model.ajans.gorev</div>
                                <p>
                                    @Model.ajans.aciklama
                                </p>
                                <ul class="list-unstyled social dark-hover d-flex">
                                    <li class="me-1">
                                        <a href="https://www.instagram.com/@Model.ajans.instagram"><span class="icon-instagram"></span></a>
                                    </li>
                                    <li class="me-1">
                                        <a href="https://www.facebook.com/@Model.ajans.facebook"><span class="icon-facebook"></span></a>
                                    </li>
                                    <li class="me-1">
                                        <a href="https://www.twitter.com/@Model.ajans.twitter"><span class="icon-twitter"></span></a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



